.heading{
    width: 100%;
    margin-top:0px;
   font-size: 20px;
}
.heading_div{
    margin-left: 370px;
    background-color: white;
    color:black;
    padding:15px;
    border-radius:10px;
}
.div_footer{
    position:fixed;
    background-color: whitesmoke;
    width:100%;
    color:gray;
    text-align: center;
    bottom:0;
}
canvas{
    margin-top:100px;
    border:gray 5px solid;
    border-radius: 20px;
}